/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../../fonts/inter-v12-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../../fonts/inter-v12-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../../fonts/inter-v12-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  line-height: 1.5;
}

a {
  transition: all 0.3s ease;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

.navbar {
  background: #fff;
  z-index: 100;
}
.navbar > .container-fluid {
  height: 72px;
}
.navbar .brand {
  margin-right: auto;
}
.navbar .btn-outline-dark {
  margin-left: 8px;
}
.navbar .language-switcher {
  margin-left: 16px;
}
.navbar .language-switcher > a {
  color: #1F1F1F;
  text-decoration: none;
  font-weight: 500;
}
.navbar .language-switcher > a > .flag-icon {
  margin-right: 6px;
}
.navbar .language-switcher > a > .caret {
  margin-left: 6px;
}
.navbar .language-switcher > a > .caret path {
  transition: all 0.3s ease;
}
.navbar .language-switcher > a:hover {
  color: #0089D6;
}
.navbar .language-switcher > a:hover > .caret path {
  stroke: #0089D6;
}
.navbar .hamburger-icon {
  cursor: pointer;
  margin-left: 1rem;
}
.navbar .hamburger-icon:hover path {
  stroke: #0089D6;
}
@media (min-width: 1101px) {
  .navbar .hamburger-icon {
    display: none;
  }
}
@media (min-width: 1440px) {
  .navbar .brand {
    margin-right: auto;
  }
  .navbar .navbar-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (max-width: 1100px) {
  .navbar .navbar-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar .btn, .navbar .language-switcher {
    display: none;
  }
}

.navbar-menu {
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1399px) {
  .navbar-menu {
    margin-right: 20px;
  }
}
.navbar-menu > li {
  height: 100%;
  padding: 0 20px;
  display: flex;
}
.navbar-menu > li a {
  color: #000;
  text-decoration: none;
}
.navbar-menu > li a > .caret {
  transition: all 0.3s ease;
  margin-left: 7px;
}
.navbar-menu > li a:hover {
  color: #0089D6;
}
.navbar-menu > li a:hover > .caret path {
  stroke: #0089D6;
}

.dropdown {
  position: relative;
}
.dropdown > a .caret {
  transition: all 0.3s ease;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > a {
  color: #0089D6;
}
.dropdown:hover > a > .caret {
  transform: rotate(-180deg);
}
.dropdown:hover > a > .caret path {
  stroke: #0089D6;
}
.dropdown.align-right .dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
  background: #fff;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: max-content;
  min-width: 260px;
}
.dropdown .dropdown-menu > li:not(:last-child) > a {
  border-bottom: 1px solid #F2F2F2;
}
.dropdown .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 12px;
}
.dropdown .dropdown-menu > li > a > .icon {
  margin-right: 8px;
}
.dropdown .dropdown-menu > li > a:hover {
  color: #0089D6;
  /* & > .icon {
    path, stroke {
      fill: $blue;
    }
  } */
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn.btn-sm {
  font-size: 1rem;
  line-height: 1.5;
  padding: 8px 24px;
  border-radius: 6px;
}
.btn.btn-lg {
  border-radius: 12px;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 68.5px;
}
@media (max-width: 768px) {
  .btn.btn-lg {
    font-size: 20px;
    padding: 20px;
  }
}
.btn.btn-primary {
  color: #fff;
  background: linear-gradient(90deg, #00BAAF 0.41%, #0089D6 100.58%);
  opacity: 1;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  opacity: 0.8;
}
.btn.btn-outline-dark {
  color: #000;
  font-weight: 600;
  outline: 2px solid #000;
  outline-offset: -2px;
  opacity: 1;
}
.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus {
  opacity: 0.8;
}

.hero {
  background: radial-gradient(100% 100% at 0% 0%, #DAE9FF 0%, #DAFFF6 100%);
  min-height: 100vh;
}
.hero > .star {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
}
.hero.has-bottom-gradient:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.hero .inner-content {
  padding-top: 67px;
  padding-bottom: 67px;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .hero .inner-content {
    text-align: center;
  }
}
.hero .inner-content p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 768px) {
  .hero .inner-content p {
    font-size: 20px;
  }
}
.hero .inner-content .btn {
  margin-top: 40px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .hero .inner-content .btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .hero .inner-content .col-lg-5:last-child {
    margin-top: 74px;
  }
}
@media (max-width: 768px) {
  .hero .rating-list {
    justify-content: center;
  }
}
.hero .rating-list li {
  font-size: 24px;
  line-height: 52px;
}
.hero .rating-list li:not(:last-child) {
  margin-right: 26px;
}
@media (max-width: 1100px) {
  .hero .rating-list li {
    font-size: 14px;
  }
}
.hero .rating-list li b {
  font-weight: 700;
}
.hero .rating-list li svg {
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.footer {
  background: #2B2B2B;
  padding: 64px 0;
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    padding: 24px 0 48px;
  }
  .footer .col-2 {
    padding: 24px 0;
  }
}
.footer .brand {
  margin-bottom: 10px;
  display: inline-block;
}
@media (max-width: 768px) {
  .footer .brand {
    margin-bottom: 56px;
    margin-top: 32px;
  }
}
.footer h3 {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}
.footer a:hover {
  opacity: 0.8;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.container-fluid {
  padding: 0 15px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: calc(100% - 30px);
  max-width: 1400px;
}
@media (max-width: 1399px) {
  .container {
    max-width: 1180px;
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 769px) {
  .grid-lg-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 30px;
  }
  .grid-lg-10 > .col-lg-2 {
    grid-column: span 2;
  }
  .grid-lg-10 > .col-lg-5 {
    grid-column: span 5;
  }
}

@media (max-width: 768px) {
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
  .grid-4 > .col-2 {
    grid-column: span 2;
  }
  .grid-4 > .col-4 {
    grid-column: span 4;
  }
}

@media (min-width: 769px) {
  .order-lg-first {
    order: -1;
  }
}

.z-10 {
  z-index: 10;
}

.text-center {
  text-align: center;
}

@media (min-width: 769px) {
  .text-lg-left {
    text-align: left;
  }
}

.h-100 {
  height: 100%;
}