.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  transition: $transition;
  &.btn-sm {
    font-size: 1rem;
    line-height: 1.5;
    padding: 8px 24px;
    border-radius: 6px;
  }
  &.btn-lg {
    border-radius: 12px;
    font-size: 24px;
    line-height: 32px;
    padding: 30px 68.5px;
    @media (max-width: 768px) {
      font-size: 20px;
      padding: 20px;
    } 
  }
  &.btn-primary {
    color: $white;
    background: linear-gradient(90deg, #00BAAF 0.41%, #0089D6 100.58%);
    opacity: 1;
    &:hover, &:focus {
      //background: linear-gradient(90deg, #0089D6 0.41%, #00BAAF 100.58%);
      opacity: 0.8;
    }
  }
  &.btn-outline-dark {
    color: $black;
    font-weight: 600;
    outline: 2px solid $black;
    outline-offset: -2px;
    opacity: 1;
    &:hover, &:focus {
      //background: $black;
      //color: $white;
      opacity: 0.8;
    }
  }
}